<!-- angular 2 datagrid  https://valor-software.com/ng2-table/ -->
<div class="container pull-left">
    <div class="row">
        <h1>Create a SMS message.</h1>
        <div class="col-xs-7">
            <strong>Message: </strong>
            <span *ngIf="messageLength > 0">{{messageLength}} of {{messageMaxLength}} characters entered.</span>
            <span style="color: white">.</span>

            <textarea class="form-control" [ngModel]="message" (ngModelChange)="textAreaChange($event)" [attr.maxlength]="messageMaxLength"></textarea>
            <span>{{allowedTokensString}}</span>
            <br>
        </div>
        <!-- <div [innerHTML]="messagePreview"></div> -->
    </div>
    <div class="row">
        <div class="col-xs-7">
            <br>
            <strong>Password</strong>
            <br>
            <input [(ngModel)]="password" type="text" (ngModelChange)="passwordChange($event)">
            <span *ngIf="passwordError" class="alert alert-danger">{{passwordError}}</span>

            <label class="btn btn-default ">Upload Names
                <input type="file" hidden (change)='changeListener($event)'>
            </label>
            <button [disabled]="isSMSDisabled" class="btn btn-default " type="submit" (click)="sendSMS($event)" id="test">Send SMS</button>
            <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <span *ngIf="csvData.length != 0" class="box pull-right">&nbsp;&nbsp;{{cost | currency:'JPY':true:'1.0-0'}}&nbsp;&nbsp;</span>
        </div>

        <!-- Tokens:<pre>{{tokens | json}}</pre> -->
        <div *ngIf="csvData.length != 0">
            <div class="row">
                <div class="col-xs-10">
                    <!-- <hr class="style13"> -->
                    <!-- <h3>
                        <strong>'{{csvName}}':</strong> {{csvData.length}} name{{csvData.length > 1 ? "s" : ""}} imported.</h3> -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-10">
                    <table class="table table-hover table-inverse">
                        <thead>
                            <tr>
                                <th>Phone</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of csvData; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                                <td>{{data.Phone}}</td>
                                <td>{{data.FirstName}}</td>
                                <td>{{data.LastName}}</td>
                                <td>
                                    <div [innerHTML]="data.HtmlMessage"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="results.length != 0">
                <hr class="style13">
                <h3 *ngIf="generalError" class="alert alert-danger">{{generalError}}></h3>
                <h3>{{resultMessage}}</h3>

                <table class="table table-hover table-inverse">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Phone</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let result of results; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                            <td>
                                <span [ngClass]="result.Status ? 'glyphicon glyphicon-ok green' : 'glyphicon glyphicon-remove red'"></span>
                            </td>
                            <td>{{result.Phone}}</td>
                            <td>{{result.FirstName}}</td>
                            <td>{{result.LastName}}</td>
                            <td>{{result.Message}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p [ngClass]="condition ? 'checked' : 'unchecked'"></p>
        </div>
    </div>
</div>