[hidden] {
    display: none !important;
  }



.btn-default {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: white;
}

textarea {
    /* max-width: 500px;  */
    max-height: 80px;
    height: 80px;
    resize: none;
}

.number{
    width: 10px;
}


.bottom-align-text {
    position: relative;
    bottom: -30px;
  }




.box {
    text-align: center;
    font-family: arial;
    font-size: 20px;
    padding: 5px;
    border: 2px solid red;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    top: -3px;
    left: -10px
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -9px #4E4E4E inset;
}

tr:nth-child(even) {background: #E7E7E7}
tr:nth-child(odd) {background: #FFF}

.highlight {
    background-color: #ffc;
}

.large{
    color: red;
    font-size: 150%;
}

.table-hover tbody tr:hover {
    /* font-weight: bold; */
    background: #337ab7;
    color: white;
}

.red{
    color: red
}

.green{
    color: green
}