<!-- angular 2 datagrid  https://valor-software.com/ng2-table/ -->

<div class="container pull-left">
    <div class="row">
        <h1>Create a SMS message.</h1>
        <strong>Message</strong>
        <textarea class="form-control" [ngModel]="message" (ngModelChange)="textAreaChange($event)" [attr.maxlength]="messageMaxLength" ></textarea>
        <span>{{allowedTokensString}}</span><br>
        <div [innerHTML]="messagePreview"></div>
        <span *ngIf="messageLength > 0">{{messageLength}} of {{messageMaxLength}} characters entered.</span><span style="color: white">.</span>
    </div>
    <div class="row">
        <div class="col-3">
            <br>
            <strong>Password</strong>
            <br>
            <input [(ngModel)]="password" type="text" (ngModelChange)="passwordChange($event)"> 
            <span *ngIf="passwordError"  class="alert alert-danger">{{passwordError}}</span>
        </div>
        <br>
        <div class="col-3">
            <label class="btn btn-default">Upload Names
                <input type="file" hidden (change)='changeListener($event)'>
            </label>
            <button [disabled]="isSMSDisabled" class="btn btn-default" type="submit" (click)="sendSMS($event)" id="test">Send SMS</button>
            <span *ngIf="csvData.length != 0">
            </span>
        </div>
        <!-- Tokens:<pre>{{tokens | json}}</pre> -->

<div class="row">
<div *ngIf="csvData.length != 0">
        <hr class="style13">
        <h3><strong>'{{csvName}}':</strong> {{csvData.length}} name{{csvData.length > 1 ? "s" : ""}} imported.</h3>
        
    <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th>Phone</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of csvData; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                <td>{{data.Phone}}</td>
                <td>{{data.FirstName}}</td>
                <td>{{data.LastName}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div *ngIf="results.length != 0">
            <hr class="style13">
            <h3 *ngIf="generalError" class="alert alert-danger">{{generalError}}></h3>
            <h3>{{resultMessage}}</h3>
            
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Phone</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let result of results; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
                        <td><span [ngClass]="result.Status ? 'glyphicon glyphicon-ok green' : 'glyphicon glyphicon-remove red'"></span></td>
                        <td>{{result.Phone}}</td>
                        <td>{{result.FirstName}}</td>
                        <td>{{result.LastName}}</td>
                        <td>{{result.Message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <p [ngClass]="condition ? 'checked' : 'unchecked'"></p>
</div>
</div>    